<app-navbar-chef (filter)="filterEvent($event)"></app-navbar-chef>
<section class="orderCardsContainer">
    <div class="containerAllCards">
        <mat-card class="orderCard" *ngFor="let item of orders; index as index"
            [ngStyle]="{'background-color': item.status === 'Done'?'#A0FFBB':'#FFC0A0'}">
            <mat-card-header class="headerCard block One">
                <mat-card-title>Table:{{item.table}}</mat-card-title>
                <div>
                    <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
                    <fa-icon *ngIf="router.url === '/take-orders/orders' && item.status === 'Pending'"
                        (click)="deleteOrder(item.id)" [icon]="faTrash" class="iconTrash">
                    </fa-icon>
                </div>
            </mat-card-header>
            <hr>
            <mat-card-content value="{{item.status}}" class="block Two">
                <p>Client: {{item.client}}</p>
                <hr>
                <p> Received at: {{item.time}}</p>
                <hr>
                <p *ngIf="item.status === 'Done'"> Update at: {{updateDate}}</p>
                <hr *ngIf="item.status === 'Done'">
                <div class="containerTitles">
                    <p>Amount</p>
                    <p>Products</p>
                </div>
                <div class="contentSummary" *ngFor="let itemAux of item.order">
                    <p>{{itemAux.amount}}</p>
                    <p>{{itemAux.name}}</p>
                </div>
                <hr>
                <p>Total: ${{item.total}}</p>
            </mat-card-content>
            <mat-card-actions class="block Three">
                <button mat-button *ngIf="router.url === '/chef-view' && item.status==='Pending'"
                     (click)="changeStatusOrder(index)"
                    (click)="openDialog('0ms', '0ms')">Update order</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>