.orderCardsContainer{
    display:flex;
}

.containerAllCards{
    height:100%;
    margin-top:90px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
}
.orderCard{
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 380px;
    border-radius: 10px;
    background: #FFC0A0;
}

.orderCard div{
    display: flex;
    flex-direction: row;
}
.containerTitles p{
    width: 190px;
    text-align: left;
    font-weight: bolder;
    font-size: 17px;
}
.contentSummary p {
    width: 190px;
    text-align: left;
}
button{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 300px;
    background: black;
    color: white;
}