<app-navbar-chef></app-navbar-chef>
<section class="orderCardsContainer">
  <div class="containerAllCards">
  <mat-card  class="orderCard" *ngFor="let item of orders; index as index" [ngStyle]="{'background-color': item.status === 'Done'?'#A0FFBB':'#FFC0A0'}">
        <mat-card-title>Mesa: {{item.table}}</mat-card-title>
        <mat-card-content value="{{item.status}}">
            <div class="containerHeader">
                <p>{{item.time}}</p>
                <p>{{item.status}}</p>
            </div>
            <div class="containerTitles">
                <p>Cantidad</p>
                <p>Productos</p>
            </div>
            <div class="contentSummary" *ngFor="let itemAux of item.order">
                <p>{{itemAux.amount}}</p>
                <p>{{itemAux.name}}</p>
            </div>
            <p>Total: {{item.total}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [ngStyle]="{'display': item.status === 'Done'? 'none':'block'}" (click)="changeStatusOrder(index)">Actualizar pedido</button>
        </mat-card-actions>
    </mat-card>
  </div>
</section>
