<app-navbar-chef (filter)="filterEvent($event)"></app-navbar-chef>
<section class="orderCardsContainer">
    <div class="containerAllCards">
        <mat-card class="orderCard" *ngFor="let item of orders; index as index"
            [ngStyle]="{'background-color': item.status === 'Done'?'#A0FFBB':'#FFC0A0'}">
            <mat-card-header class="headerCard block One">
                <mat-card-title>Mesa: {{item.table}}</mat-card-title>
                <mat-card-subtitle>{{item.status}}</mat-card-subtitle>
            </mat-card-header>
            <hr>
            <mat-card-content value="{{item.status}}" class="block Two">
                <div class="containerHeader">
                    <p>{{item.time}}</p>
                </div>
                <div class="containerTitles">
                    <p>Cantidad</p>
                    <p>Productos</p>
                </div>
                <div class="contentSummary" *ngFor="let itemAux of item.order">
                    <p>{{itemAux.amount}}</p>
                    <p>{{itemAux.name}}</p>
                </div>
                <p>Total: ${{item.total}}</p>
            </mat-card-content>
            <mat-card-actions class="block Three">
                <button mat-button [ngStyle]="{'display': item.status === 'Done'? 'none':'block'}"
                    (click)="changeStatusOrder(index)" (click)="openDialog('0ms', '0ms')">Actualizar pedido</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>