.containerHeaderSection{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 200;
}

.containerHeader{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px 10px 90px;
    background: linear-gradient(90.47deg, #FC6A59 30.87%, #FFFFFF 141.79%);
    border-radius: 40px;
}   

.containerLogoAndName{
    width: 20%;
    height: 5px;
    display: flex;
    align-items: center;
    transform: translate(20px);
    padding: 30px 30px;
    font-size: 5px;
}

.containerLogoAndName img{
    margin-right: 20px;
    width: 40px;
    height: 40px; 
    object-fit:contain;
}
.containerLogoAndName h1{
    font-size: 20px;
}
#viewOrders{
    background-color: black;
    color: #fff;
    text-align: center;
    margin: 15px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    width: 140px;
    height: 40px;
    cursor: pointer;
}

.lateralMenu{
    background: #FFC0A0;   
    background-color: linear-gradient(179.1deg, #FFC0A0 30.47%, rgba(255, 192, 160, 0) 120.55%);
    width: 80px;
    height: 100%;
    position: fixed;
}

.containerIcon{
    padding-top:100px;
    padding-left: 12px;
    position:absolute;
}

.boxIcon{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    position: relative;
    color:#000000;
  }

.iconLateralMenu{
    font-size: 25px;
}

.iconLogOut{
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:#000000;
  }

.boxIcon h5 {
  margin-top: 3px;
  align-content: center;
  padding-right:5px;
}