<div class="orderListContainer">
  <form>
    <div>
      <label>Mesero:</label>
      <input type="text" [formControl]="nameWaiter">
    </div>
    <div>
      <label>Mesa:</label>
      <input type="number" [formControl]="table">
    </div>
  </form>
  <table class="orderContainer" *ngFor="let item of orderListProduct">
    <tr>
      <td>{{item.name}}</td>
      <td>
        <fa-icon class="faCirclePlus" [icon]="faCirclePlus"></fa-icon>
      </td>
      <td>{{item.amount}}</td>
      <td>
        <fa-icon class="faCircleMinus" [icon]="faCircleMinus"></fa-icon>
      </td>
      <td>{{item.price}}</td>
      <td>
        <fa-icon class="iconTrash" [icon]="faTrashCan" (click)="deleteProduct(item.index)"></fa-icon>
      </td>
    </tr>
  </table>
  <tr>
    <td colspan="4">Total</td>
    <td>{{totalPrice()}}</td>
  </tr>

  <button class="sendOrder" (click)="sendOrder()">Enviar Orden</button>
</div>