<div class="orderSection">
  <section class="containerData">
    <div>
      <label for="name">Customer name:</label>
      <input type="text" class="nameWaiter" id="name" [formControl]="nameClient">
    </div>
    <select class="numberTable" [formControl]="table">
      <option value=1>Mesa 01</option>
      <option value=2>Mesa 02</option>
      <option value=3>Mesa 03</option>
      <option value=4>Mesa 04</option>
      <option value=5>Mesa 05</option>
      <option value=6>Mesa 06</option>
    </select>
  </section>
  <table class="tableContainer">
    <thead>
      <tr>
        <td>Product</td>
        <td>Amount</td>
        <td colspan="2">Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderListProduct">
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td>${{item.price}}</td>
        <td>
          <fa-icon class="iconTrash" [icon]="faTrashCan" (click)="deleteProduct(item.index)"></fa-icon>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td colspan="2">${{totalPrice()}}</td>
      </tr>
    </tfoot>
  </table>
</div>
<button (click)="sendOrder()">Send order</button>