<!-- <section class="containerFoodOrder" >
    <div class="foodOrderCard">
      <div class="containerPosition">
        <div class="containerName">
          <h4>Mesero:<input type="text" class="name-client"></h4>
          <h4>ID:</h4>
          <h3>N° Mesa</h3> 
        </div>
      <div class="containerProduct">
        <div class="orderContainer">
            <div class="orderListContainer">
              <div class="order">
                <div class="img-food-order">
                  <img class="imgOrder"/>
                </div>
                <div class="orderInfo">
                  <h4></h4>  
                  <div class="addPriceAndProduct">
                    <div class="addOrLess">
                      <img src="#"/>
                      <p></p>
                      <img src="#"/>
                    </div>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="trashIcon">
                <img src="#"/>
              </div>
            </div>
        </div>
      </div>  
      </div>
      <div class="totalContainer">
        <!-- <div>
          <img src="#" class="trashTotal"/>
        </div> -->
          <!-- <button class="sendOrder"></button>
      </div>
    </div>
  </section> --> -->