<div class="containerHeaderSection">
  <mat-toolbar class="containerHeader">
    <div class="containerLogoAndName">
      <img src="../../../assets/img/burgerLogo.png" />
      <h1>La Burguesa</h1>
    </div>
    <button routerLink="orders" (click)="changeNavigate()" *ngIf="changeRouter===false">Ver Pedidos</button>
    <button *ngIf="changeRouter===true" (click)="changeNavigate()">Tomar orden</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
<section class="containerFoodList">
  <app-food-list [ngStyle]="{'display':changeRouter === true ?'none':'block'}"></app-food-list>
</section>