<div class="containerHeaderSection">
        <mat-toolbar class="containerHeader">
        <div class="containerLogoAndName">    
        <img src="../../../assets/img/burgerLogo.png">
        <h1>La Burguesa</h1> 
        </div>
        <button id="viewOrders">Ver Pedidos</button>
      </mat-toolbar>
</div>
<!-- <section class="containerNavBarLateral">
    <app-navbar-lateral></app-navbar-lateral>
</section> -->
<section class="containerFoodList">
    <app-food-list></app-food-list>  
</section>