<div class="containerHeaderSection">
  <mat-toolbar class="containerHeader">
    <div class="containerLogoAndName">
      <img src="../../../assets/img/burgerLogo.png" />
      <h1>La Burguesa</h1>
    </div>
    <button routerLink="orders" *ngIf="router.url === '/take-orders'">See orders</button>
    <button *ngIf="router.url === '/take-orders/orders'" routerLink="./">Take orders</button>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
<section class="containerFoodList">
  <app-food-list *ngIf="router.url === '/take-orders'"></app-food-list>
</section>